--markup markdown
--markup-provider kramdown
--output-dir doc
--protected
--private
--readme README.md
--files CHANGELOG.md,LICENSE,CONTRIBUTING.md,CODE_OF_CONDUCT.md
--title "Quby Documentation"
--no-stats
lib/**/*.rb
